/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  /* color related */

  --clr-moderate-violet: hsl(263, 55%, 52%);
  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-light-gray: hsl(0, 0%, 81%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);

  /* fonts related */

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-500: 500;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6em;
  font-family: var(--ff-primary);

  line-height: 1.5;
}

/* debug purpose only */

header,
footer,
article {
  /* border: 1px solid red; */
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "testimonial-1-component"
    "testimonial-2-component"
    "testimonial-3-component"
    "testimonial-4-component"
    "testimonial-5-component";
  gap: 2rem;
  justify-items: center;

  padding: 8rem 0;

  min-width: 37.5rem;

  background-color: var(--clr-light-grayish-blue);
}

/* style 1st component - mobile */

.testimonial-1-component {
  width: 35.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "testimonial-1-component__user-profile"
    "testimonial-1-component__testimonial-title"
    "testimonial-1-component__testimonial-details";
  gap: 1.75rem;

  background-color: var(--clr-moderate-violet);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 95% 0%;
  background-size: 13rem;

  padding: 3rem 3.1rem 4rem 3.7rem;

  border-radius: 1rem;
}

.testimonial-1-component__user-profile {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 22px 18px;
  grid-template-areas:
    "testimonial-1-component__user-image testimonial-1-component__user-name"
    "testimonial-1-component__user-image testimonial-1-component__user-profession";
  align-items: center;
}

.testimonial-1-component__user-image {
  width: 70%;

  border-radius: 50%;
  border: 2px solid var(--clr-light-gray);
}

.testimonial-1-component__user-name {
  font-family: var(--ff-primary);

  color: var(--clr-light-grayish-blue);
}

.testimonial-1-component__user-profession {
  font-family: var(--ff-primary);
  font-size: 1.3rem;

  color: var(--clr-light-grayish-blue);
  opacity: 50%;
}

.testimonial-1-component__testimonial-title {
  font-family: var(--ff-primary);
  font-size: 2.2rem;

  color: var(--clr-light-grayish-blue);
}

.testimonial-1-component__testimonial-details {
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  font-size: 1.5rem;

  color: var(--clr-light-grayish-blue);
  opacity: 70%;
}

/* style 2nd component - mobile */

.testimonial-2-component {
  width: 35.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "testimonial-2-component__user-profile"
    "testimonial-2-component__testimonial-title"
    "testimonial-2-component__testimonial-details";
  gap: 1.75rem;

  padding: 3rem 2.6rem 4rem 4rem;

  background-color: var(--clr-very-dark-grayish-blue);

  border-radius: 1rem;
}

.testimonial-2-component__user-profile {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 22px 18px;
  grid-template-areas:
    "testimonial-2-component__user-image testimonial-2-component__user-name"
    "testimonial-2-component__user-image testimonial-2-component__user-profession";
  align-items: center;
}

.testimonial-2-component__user-image {
  width: 70%;

  border-radius: 50%;
  border: 2px solid var(--clr-light-gray);
}

.testimonial-2-component__user-name {
  font-family: var(--ff-primary);

  color: var(--clr-light-grayish-blue);
}

.testimonial-2-component__user-profession {
  font-family: var(--ff-primary);
  font-size: 1.3rem;

  color: var(--clr-light-grayish-blue);
  opacity: 50%;
}

.testimonial-2-component__testimonial-title {
  font-family: var(--ff-primary);
  font-size: 2.2rem;

  color: var(--clr-light-grayish-blue);
}

.testimonial-2-component__testimonial-details {
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  font-size: 1.5rem;

  color: var(--clr-light-grayish-blue);
  opacity: 70%;
}

/* style 3rd component - mobile */

.testimonial-3-component {
  width: 35.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "testimonial-3-component__user-profile"
    "testimonial-3-component__testimonial-title"
    "testimonial-3-component__testimonial-details";
  gap: 1.75rem;

  padding: 3rem 2.5rem 4rem 4rem;

  background-color: var(--clr-white);

  border-radius: 1rem;
}

.testimonial-3-component__user-profile {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 22px 18px;
  grid-template-areas:
    "testimonial-3-component__user-image testimonial-3-component__user-name"
    "testimonial-3-component__user-image testimonial-3-component__user-profession";
  align-items: center;
}

.testimonial-3-component__user-image {
  width: 70%;

  border-radius: 50%;
  border: 2px solid var(--clr-light-gray);
}

.testimonial-3-component__user-name {
  font-family: var(--ff-primary);

  color: var(--clr-very-dark-grayish-blue);
}

.testimonial-3-component__user-profession {
  font-family: var(--ff-primary);
  font-size: 1.3rem;

  color: var(--clr-very-dark-grayish-blue);
  opacity: 50%;
}

.testimonial-3-component__testimonial-title {
  font-family: var(--ff-primary);
  font-size: 2.2rem;

  color: var(--clr-very-dark-grayish-blue);
}

.testimonial-3-component__testimonial-details {
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  font-size: 1.5rem;

  color: var(--clr-very-dark-grayish-blue);
  opacity: 70%;
}

/* style 4th component - mobile */

.testimonial-4-component {
  width: 35.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "testimonial-4-component__user-profile"
    "testimonial-4-component__testimonial-title"
    "testimonial-4-component__testimonial-details";
  gap: 1.75rem;

  padding: 3rem 2.6rem 4rem 4rem;

  background-color: var(--clr-very-dark-blackish-blue);

  border-radius: 1rem;
}

.testimonial-4-component__user-profile {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 22px 18px;
  grid-template-areas:
    "testimonial-4-component__user-image testimonial-4-component__user-name"
    "testimonial-4-component__user-image testimonial-4-component__user-profession";
  align-items: center;
}

.testimonial-4-component__user-image {
  width: 70%;

  border-radius: 50%;
  border: 2px solid var(--clr-light-gray);
}

.testimonial-4-component__user-name {
  font-family: var(--ff-primary);

  color: var(--clr-light-grayish-blue);
}

.testimonial-4-component__user-profession {
  font-family: var(--ff-primary);
  font-size: 1.3rem;

  color: var(--clr-light-grayish-blue);
  opacity: 50%;
}

.testimonial-4-component__testimonial-title {
  font-family: var(--ff-primary);
  font-size: 2.2rem;

  color: var(--clr-light-gray);
}

.testimonial-4-component__testimonial-details {
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  font-size: 1.5rem;

  color: var(--clr-light-grayish-blue);
  opacity: 70%;
}

/* style 5th component - mobile */

.testimonial-5-component {
  width: 35.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "testimonial-5-component__user-profile"
    "testimonial-5-component__testimonial-title"
    "testimonial-5-component__testimonial-details";
  gap: 1.75rem;

  padding: 3rem 2.6rem 4rem 4rem;

  background-color: var(--clr-white);

  border-radius: 1rem;
}

.testimonial-5-component__user-profile {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 22px 18px;
  grid-template-areas:
    "testimonial-5-component__user-image testimonial-5-component__user-name"
    "testimonial-5-component__user-image testimonial-5-component__user-profession";
  align-items: center;
}

.testimonial-5-component__user-image {
  width: 70%;

  border-radius: 50%;
  border: 2px solid var(--clr-light-gray);
}

.testimonial-5-component__user-name {
  font-family: var(--ff-primary);

  color: var(--clr-very-dark-grayish-blue);
}

.testimonial-5-component__user-profession {
  font-family: var(--ff-primary);
  font-size: 1.3rem;

  color: var(--clr-very-dark-grayish-blue);
  opacity: 50%;
}

.testimonial-5-component__testimonial-title {
  font-family: var(--ff-primary);
  font-size: 2.2rem;

  color: var(--clr-very-dark-grayish-blue);
}

.testimonial-5-component__testimonial-details {
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  font-size: 1.5rem;

  color: var(--clr-very-dark-grayish-blue);
  opacity: 70%;
}

/* ----------- ----------- ----------- desktop second approach ----------- ----------- ----------- */

@media screen and (min-width: 42rem) {
  .grid-container {
    grid-template-columns: 290px 300px 290px 300px;
    grid-template-areas:
      "testimonial-1-component testimonial-1-component testimonial-2-component testimonial-5-component"
      "testimonial-3-component testimonial-4-component testimonial-4-component testimonial-5-component";
    justify-content: center;

    padding: 4rem 0;

    gap: 3.5rem;
  }

  /* reset fixed width components from mobile layout */
  .testimonial-1-component,
  .testimonial-2-component,
  .testimonial-3-component,
  .testimonial-4-component,
  .testimonial-5-component {
    width: 100%;

    gap: 1.25rem;

    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  /*  desktop - component 1 styling  */

  .testimonial-1-component {
    background-position: 82% 0%;
    background-size: 13rem;
  }

  .testimonial-1-component__testimonial-title {
    width: 95%;
  }

  /*  desktop - component 2 styling  */

  .testimonial-2-component__testimonial-title {
    width: 90%;
  }

  .testimonial-2-component__testimonial-details {
    width: 85%;
  }

  /*  desktop - component 3 styling  */

  .testimonial-3-component__testimonial-title {
    width: 80%;
  }

  .testimonial-3-component__testimonial-details {
    width: 85%;
  }

  /*  desktop - component 4 styling  */

  .testimonial-4-component__testimonial-title {
    width: 95%;
  }

  .testimonial-4-component__testimonial-details {
    width: 96%;
  }

  /*  desktop - component 5 styling  */

  .testimonial-5-component__testimonial-details {
    width: 90%;
  }
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */

.testimonial-1-component {
  grid-area: testimonial-1-component;
}

.testimonial-1-component__user-profile {
  grid-area: testimonial-1-component__user-profile;
}

.testimonial-1-component__user-image {
  grid-area: testimonial-1-component__user-image;
}

.testimonial-1-component__user-name {
  grid-area: testimonial-1-component__user-name;
}

.testimonial-1-component__user-profession {
  grid-area: testimonial-1-component__user-profession;
}

.testimonial-1-component__testimonial-title {
  grid-area: testimonial-1-component__testimonial-title;
}

.testimonial-1-component__testimonial-details {
  grid-area: testimonial-1-component__testimonial-details;
}

/* Component 2 grid areas */

.testimonial-2-component {
  grid-area: testimonial-2-component;
}

.testimonial-2-component__user-profile {
  grid-area: testimonial-2-component__user-profile;
}

.testimonial-2-component__user-image {
  grid-area: testimonial-2-component__user-image;
}

.testimonial-2-component__user-name {
  grid-area: testimonial-2-component__user-name;
}

.testimonial-2-component__user-profession {
  grid-area: testimonial-2-component__user-profession;
}

.testimonial-2-component__testimonial-title {
  grid-area: testimonial-2-component__testimonial-title;
}

.testimonial-2-component__testimonial-details {
  grid-area: testimonial-2-component__testimonial-details;
}

/* Component 3 grid areas */

.testimonial-3-component {
  grid-area: testimonial-3-component;
}

.testimonial-3-component__user-profile {
  grid-area: testimonial-3-component__user-profile;
}

.testimonial-3-component__user-image {
  grid-area: testimonial-3-component__user-image;
}

.testimonial-3-component__user-name {
  grid-area: testimonial-3-component__user-name;
}

.testimonial-3-component__user-profession {
  grid-area: testimonial-3-component__user-profession;
}

.testimonial-3-component__testimonial-title {
  grid-area: testimonial-3-component__testimonial-title;
}

.testimonial-3-component__testimonial-details {
  grid-area: testimonial-3-component__testimonial-details;
}

/* Component 4 grid areas */

.testimonial-4-component {
  grid-area: testimonial-4-component;
}

.testimonial-4-component__user-profile {
  grid-area: testimonial-4-component__user-profile;
}

.testimonial-4-component__user-image {
  grid-area: testimonial-4-component__user-image;
}

.testimonial-4-component__user-name {
  grid-area: testimonial-4-component__user-name;
}

.testimonial-4-component__user-profession {
  grid-area: testimonial-4-component__user-profession;
}

.testimonial-4-component__testimonial-title {
  grid-area: testimonial-4-component__testimonial-title;
}

.testimonial-4-component__testimonial-details {
  grid-area: testimonial-4-component__testimonial-details;
}

/* Component 5 grid areas */

.testimonial-5-component {
  grid-area: testimonial-5-component;
}

.testimonial-5-component__user-profile {
  grid-area: testimonial-5-component__user-profile;
}

.testimonial-5-component__user-image {
  grid-area: testimonial-5-component__user-image;
}

.testimonial-5-component__user-name {
  grid-area: testimonial-5-component__user-name;
}

.testimonial-5-component__user-profession {
  grid-area: testimonial-5-component__user-profession;
}

.testimonial-5-component__testimonial-title {
  grid-area: testimonial-5-component__testimonial-title;
}

.testimonial-5-component__testimonial-details {
  grid-area: testimonial-5-component__testimonial-details;
}
